@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {width: 100%;}

.nav-container {
    background: #ffffff;
    a {
        color: #7C8E9E;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #5A6471;
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
   
}

.hero-design {
    display: none;
}

.hero-container {
    background: #00CEC8;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;

    .job {
        color: #13848D;
    }
    .seemyworks-btn {
        display: flex;
        margin: auto;
        background: #DC517C;
        width: fit-content;
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-property: box-shadow;
        -webkit-transition-property: box-shadow;
    }
    
    .seemyworks-btn:hover, .seemyworks-btn:active, .seemyworks-btn:focus{
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    }

    a {
        color: white;
    }

}

.about-container {
    background: #E1F8F7;
    padding: 4em 2em;
    text-align: center;
    .top {
        position: relative;
    }
        .subtitle {
            color: #5A6471;
            font-weight: bold;
        }
        .profile {
            display: grid;
            padding: 2em;
            height: 200px;
            width: 200px;
            place-content: center;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .about-desc {
            color: #7C8E9E;
            margin-bottom: 3em;
            font-size: .9em;
            line-height: 1.8em;

        }
}

.needhelp-container {
    background: #00CEC8;
    padding: 4em 2em;
    text-align: center;
    color: white;

    .needhelp {
        margin-bottom: 2em;
    }

    .messageme-btn {
        display: flex;
        margin: auto;
        background: #DC517C;
        width: fit-content;
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        transition-duration: 0.3s;
    }

    .messageme-btn:hover, .messageme-btn:active, .messageme-btn:focus{
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);

    }

    a {
        color: white;
    }


}

.social-footer {
    display: block;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 8em;
        padding: 3em;
        margin: auto;
      
    }
    img {width: 20px;
    }
}

@media only screen and (min-width: 800px) {
    .about-desc {
        width: 500px;
        margin: auto;
    }
    .bottom {
        max-width: 600px;
    }
}

@media only screen and (min-width: 1050px) {
    .hero-container {
        height: 90vh;
    }

    header {
        padding: 2em 2em 2em 4em;
    }
    .content {
        padding: 6em 8em 6em 4em;
        text-align: left;
        h1 {
            font-size: 3em;
        }
        .job {
            margin-top: -2em;
        }
        .seemyworks-btn {
            margin: unset;
        }
    }
    .hero-design {
        display: unset;
        width: 25%;
        margin-left: 70%;
        margin-top: -25%;
    }
    .about-desc {
        width: 500px;
        margin: auto;
    }
    .bottom {
        max-width: 800px;
    }
}